.header {
  height: min-content;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  margin: 0px 15px 5px 15px;
}

.header__logo {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header__menu {
  border: none;
  outline: none;
  background-color: white;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: end;
  cursor: pointer;
}

.header__menu:hover {
  opacity: 0.9;
}

.header__menu-image {
  width: 25px;
  height: 25px;
}